<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">


            <img src="/img/applogo.jpg" height="190" width="190">
    </div>
    </a>
    <a href="/signup" class="btn btn-primary" id="navsign">Sign Up</a>
    <a href="/login" class="btn btn-primary" id="navlogin">Login</a>
    </div>
</nav>